:root {
  --button-yellow: #FBBA3C;
  --border-yellow: #FBBA3C;
  --button-yellow-hover: #FCD17D;
  --font-montserrat-14: normal 14px/17px "Montserrat", Arial, sans-serif;
  --black-text: #000000;
  --white: #ffffff;
  --gray: #C4C4C4;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active), input[type=checkbox].visually-hidden, input[type=radio].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {

  padding: 7px 20px;
font: var(--font-montserrat-14);
font-weight: 500;

color: var(--black-text);
border: none;
  border-radius: 4px;
  background-color: var(--button-yellow);
}
.button:hover {
  background-color: var(--button-yellow-hover);
}
.checkbox-label {
  font: var(--font-montserrat-14);
padding-top: 4px;
padding-bottom: 3px;
  position: relative;
  display: block;
  cursor: pointer;
  padding-left: 32px;

}

.input-checkbox+.checkbox-label::before {
  content: "";
  position: absolute;

  width: 24px;
height: 24px;
background: #FFFFFF;
border: 1px solid #E8E8E8;
box-sizing: border-box;
border-radius: 4px;
  left: 0;
  top: 0;

}

.input-checkbox:checked+.checkbox-label::after {
  content: "";
  position: absolute;

  width: 24px;
  height: 24px;
  left: 0;
  top: 0;

  background-image: url(./src/img/check.svg);
  background-repeat: no-repeat;
  background-position: center center;
}


.input-checkbox:disabled+.checkbox-label::before {
  content: "";
  position: absolute;

  width: 23px;
  height: 23px;
  left: -40px;
  top: 0;
}
.input-search {
  position: relative;
padding-top: 7px;
padding-bottom:8px;padding-left: 34px;
padding-right: 14px;
background-color: var(--white);
border: none;
border-radius: 4px;
background-image: url(./src/img/search.svg);
background-repeat: no-repeat;
background-position:  left 10px bottom 7px;

}
.input-search::placeholder {
font: var(--font-montserrat-14);
color: var(--black-text);
opacity: 0.2;

}
.field {
  padding-left: 14px;
  padding-top: 12px;
  padding-bottom: 14px;
  padding-right: 14px;
  font-family: Montserrat;
font-size: 16px;
line-height: 20px;
color: var(--black-text);
background:var(--white);
border: 1px solid var(--gray);
box-sizing: border-box;
border-radius: 4px;
}

.radio-label {
  font: var(--font-montserrat-14);
padding-top: 4px;
padding-bottom: 3px;
  position: relative;
  display: block;
  cursor: pointer;
  padding-left: 30px;
  font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
color: #000000;

}

.input-radio+.radio-label::before {
  content: "";
  position: absolute;

  width: 14px;
height: 14px;
background: #FFFFFF;
border: 2px solid var(--border-yellow);

border-radius: 50%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

}

.input-radio:checked +.radio-label::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: 4px;
  top: 50%;
  background: #FBBA3C;
  transform: translateY(-50%);
}
.nav__item {
  list-style: none;
}
.nav__item p {
  margin-top: 3px;
font: var(--font-montserrat-14);
color: var(--black-text);

text-align: center;
}
.nav__item a {
  display: flex;
  flex-direction: column;
  align-items: center;

}
