$tablet-width: 640px;
$desktop-width: 1024px;
$max-width: 1312px;
$yellow: #fbba3c;
$yellow-hover: #fcd17d;
$yellow-active: #e19605;
$black: #000000;
$white: #ffffff;
$cats-bg-color: #e95342;
$items-gray: rgba(196, 196, 196, 0.1);
$placeholder-gray: #25282b;
$filter-gray-color: #f2f2f2;
$bg-gray-color: #f9f9f9;
$gray-border: 1px solid #e8e8e8;
$gray-border-radio: 2px solid rgba(0, 0, 0, 0.5);
$yellow-border: 1px solid $yellow;
$radius: 4px;
$radius: 4px;
