.header {
  position: relative;
  width: 100%;
  @include wrap;
  padding-top: 18px;
  display: flex;
  align-items: center;
  background-color: $white;
  padding-bottom: 17px;

  &__logo {
    display: flex;
    margin-right: 14px;
    .current {
      cursor: default;
    }
  }

  @media screen and (min-width: $tablet-width) {
    &__logo {
      & img {
        width: 52px;
      }
    }
  }
  @media screen and (min-width: $desktop-width) {
    max-width: $max-width;
    margin: 0 auto;

    &__logo {
      img {
        width: 88px;
        height: 72px;
      }
    }
  }
}
